input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mainBodyA{
   background-color: #f2f2f2;
   padding:15px;
   border-radius:10px;
}

#mainBodyA img{
    border-radius:10px;
}

#mainBodyA p{
    font-size:14px;
    text-align: left;
    padding-top:5px;
}

#footerSection{
    padding-left:30px;
    margin-top:95px;
}

#activePage{
    color:red;
}

#adminProducts{
    min-height:300px;
}